# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/jianshu/node_modules
/jianshu/.pnp
/jianshu/.pnp.js

# testing
/jianshu/coverage

# production
/jianshu/build

# misc
/jianshu/.DS_Store
/jianshu/.env/.local
/jianshu/.env.development.local
/jianshu/.env.test.local
/jianshu/.env.production.local

/jianshu/npm-debug.log*
/jianshu/yarn-debug.log*
/jianshu/yarn-error.log*



# demo-router dependencies
/demo-router/node_modules
/demo-router/.pnp
/demo-router/.pnp.js

# testing
/demo-router/coverage

# production
/demo-router/build

# misc
/demo-router/.DS_Store
/demo-router/.env/.local
/demo-router/.env.development.local
/demo-router/.env.test.local
/demo-router/.env.production.local

/demo-router/npm-debug.log*
/demo-router/yarn-debug.log*
/demo-router/yarn-error.log*