nav{
  width: 150px;
  height: 50px;
  margin: 30px auto;
}
nav > button {
  margin: 0 5px;
}
.tab{
  width:500px;
  height: 300px;
  border: 2px solid black;
  margin: 0 auto;
}

.tab1 {
  border: 2px solid blue;
}

.tab2 {
  border: 2px solid red;
}